@model Student
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @Model.Surname @Model.Othernames updated successfully, click  <a asp-action="List">here</a> to go back to List</h2>
