@model Student
@{
    ViewData["Title"] = "Deleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You have successfully deleted @Model.Surname @Model.Othernames, click  <a asp-action="List">here</a> to go back to List</h2>

